body {
  /* background-image: url("../images/bkgd-1.jpg"); */
  background-repeat: repeat-x;
  background-color: black;
  color: white;
  font-size: 12pt;
}
.form-control {
  width: 200px;
  margin-top: 10px;
  /* display: inline; */
}
.table {
  margin: 30px 0px 25px 0px;
}
h1 {
  margin-top: 38px;
}
h2 {
  margin-bottom: 20px;
}
#token {
  max-width: 300px;
}
#add-account {
  margin-top: 30px;
  font-size: 16pt;
  /* display: inline; */
}
#footer {
  padding-bottom: 20px;
}
button.submit {
  margin-top: 10px;
}